# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/

# Database
*.db
*.sqlite3

# Docker
Dockerfile
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Logs
logs/
*.log